<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Candidates List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="bg-light">
<div class="container mt-5">
    <div th:switch="${candidates}">
        <h2 th:case="null"></h2>
        <div th:case="*">
            <h2 class="text-primary mb-4">Candidates</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="bg-primary text-white">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="candidate : ${candidates}">
                        <td th:text="${candidate.id}"></td>
                        <td th:text="${candidate.fullName}"></td>
                        <td th:text="${candidate.dob}"></td>
                        <td th:text="${candidate.address}"></td>
                        <td th:text="${candidate.phone}"></td>
                        <td th:text="${candidate.email}"></td>
                        <td>
                            <a class="btn btn-warning btn-sm" th:href="@{/edit/{id}(id=${candidate.id})}">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm"
                               th:href="@{/delete/{id}(id=${candidate.id})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>
